#Background_Video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  .content{
    top: 0;
    background-color: transparent;
    position:fixed;
    text-align: center;
    width: 100%;
  }
  h1{
    color: white;
  }
  .fa fa-home{
    color: white;
  }